.progress {
  width: 33%;
  max-height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0 0px 30px 0;
  margin: 0 20px 0 0;
  .skill {
    width: 160px;
    height: 160px;
    background: transparent;
    position: relative;

    .outer {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      box-shadow: -6px -6px 10px -1px rgba(0, 0, 0, 0.15),
        6px 6px 10px -1px rgba(0, 0, 0, 0.15);
      padding: 20px;

      .inner {
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
          -0.5px -0.5px 0px rgb(0, 0, 0),
          0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
          0px 12px 10px -10px rgba(0, 0, 0, 0.15);

        .icon {
          width: 80px;
          height: 80px;
          span>img{
            object-fit: contain;
            max-width: 40% !important;
            max-height: 40% !important;
            min-height: 40% !important;
            min-width: 40% !important;
          }

        }
      }

    }

    circle {
      fill: none;
      stroke: #b07cff;
      stroke-width: 10px;
      stroke-dasharray: 472;
      stroke-dashoffset: 472;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
.skillName{
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}
}