.card{
  width: 100%;
  max-height: 100%;
  box-shadow: 5px 5px 18px -4px #000000;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;

  .top{
    width: 300px;
    height: 150px;
    object-fit: contain;
  }
  .bottom{
    width: 300px;
     > *{

      margin: 0;
    }
    .cardSub{
      color: #b07cff;
      font-weight: 400;
    }
  }
}