.title {
  color: white;
  width: 100%;
  text-align: center;
}

.experiences {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: auto auto auto auto;
  color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
  
  // .experience {
  //   width: auto;
 
  // }

}
@media (max-width: "920px") {
.experiences{
  grid-template-columns: auto auto auto;
  width: 100%;
}
}

@media (max-width: "545px") {
.experiences{
  grid-template-columns: auto auto;
  width: 100%;
}
}
@media (max-width: "320px") {
.experiences{
  grid-template-columns: auto;
  width: 100%;
}
}