.handlerContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
  background: rgba(0, 0, 0, 0.579);
  background: transparent;
  z-index: 9;
  touch-action: none;

  .handler {
    width: 10px;
    height: 100px;
    background: #b07cff;
    border-radius: 0 15px 15px 0;
    position:fixed;
    top: 50vh;
    left: 0px;
    // animation: shake 1s ease infinite;
    animation-duration: 1s;
    animation-name: shake;
    animation-iteration-count: infinite;
    transition: all 0.5s ease;
    z-index: 10;
    writing-mode: vertical-lr;
    text-align: end;
    font-size: x-small;
    color: white;
    font-weight: 600;
    letter-spacing: 16px;
  }
}

.sideBarOpen {

  .bgLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.485);
    z-index: 7;
    cursor: pointer;
    animation: bgColor 0.1s;
  }


  .sideBarOpenContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    color: white;
    width: 350px;
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    text-align: center;
    background: #1d1e20;
    // background: red;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 10px 10px 0;
    transition: all 0.5s ease;

    .hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-start;
      cursor: pointer;
      background: #b07cff;
      font-size: 20px;
      border-radius: 0 10px 0 0;
      transition: all 0.5s ease;
    }

    .sectionContainer {
      height: auto;
    }

    .selected {
      color: #b07cff;
      font-size: 18px;
    }

    div {
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      transition: all 0.5s ease;

      div {
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 10px;
      }
    }

    .share {
      cursor: pointer;
      color: #b07cff;
      font-size: 20px;
    }

    .urlCopied {
      position: fixed;
      z-index: 11;
      top: 75%;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      color: white;
      background: rgba(0, 0, 0, 0.519);
      border-radius: 10px;
      padding: 20px;
      width: auto;
      height: auto;
    }

    .urlNotCopied {
      display: none;
    }
  }

}

// HIDE SIDEBAR
.hideSideBar {
  .bgLayer {
    display: none;
  }

  .sideBarOpenContainer {
    width: 0;
    height: 100%;

    .hamburger {
      width: 0;
      font-size: 0;
      // position: absolute;
      // top: 0;
      // left: 0;
      // transition: all 0.5s ease;
    }

    .sectionContainer {
      width: 0;
      font-size: 0;
    }

    .selected {
      width: 0;
      font-size: 0;
    }

    div {
      width: 0;
      font-size: 0;

      div {
        width: 0;
        font-size: 0;
      }
    }

    .share {
      width: 0;
      font-size: 0;
    }

    .urlCopied {
      width: 200px;
      height: 50px;
      transition: opacity 0.5s ease, width 0.5s ease, height 0.5s ease;
      opacity: 0;
    }

    div {
      width: 0;
      font-size: 0;

      div {

        width: 0;
        font-size: 0;
      }
    }
  }
}

@media (orientation: portrait) {
  .sideBarOpenContainer {
    position: fixed !important;
  }
}

@keyframes bgColor {
  from {
    background-color: transparent;
  }

  to {
    background-color: rgba(0, 0, 0, 0.485);
  }
}

@keyframes shake {
  0% {
    top: calc(50vh - 5px);
  }

  40% {
    top: calc(50vh - 5px);
  }

  55% {
    top: calc(50vh + 5px);
  }

  70% {
    top: calc(50vh - 5px);
  }

  85% {
    top: calc(50vh + 5px);
  }

  100% {
    top: calc(50vh - 5px);
  }
}