.experienceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: inherit;
  overflow-y: hidden;

  .title {
    color: white;
    width: 100%;
    height: calc(8% - 21.44px);
    text-align: center;
    box-sizing: content-box;
  }

  .experiences {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    color: white;
    width: auto;
    height: 88%;
    overflow-y: scroll;
    box-sizing: border-box;

    .experience {
      padding-bottom: 10px;
      padding-top: 10px;
      box-sizing: border-box;
    }

  }
}

@media (orientation: portrait) {
  .experienceContainer {
    align-content: flex-start;
    height: auto;
    overflow-x: hidden;
    .experiences{
      overflow: unset;
    }
  }
}