.title {
  color: white;
  width: 20%;
}

.experiences {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  width: 60%;

  // .experience {
  //   width: 100%;
 
  // }

}