.PageContainer {
  padding: 0 2rem;
  min-height: 100vh;
  background-color: black;
  background-image: url("../../public/pattern.png");
  background-size: 150px 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .container {


    position: relative;
    height: 85vh;
    width: 85vw;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    background: #1d1e20;

    span>img {
      border-radius: 18px;
    }

    .children {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;

    }
  }
}

@media (orientation: portrait) {
  .container {
    position: absolute !important;
    min-height: 100vh !important;
    height: auto !important;
    width: 100vw !important;
    padding: 10px 0 10px 0 !important;


  }

  .children {
    justify-content: center !important;
    width: 100% !important;
  }
}