.photo {
  width: 45%;
  box-sizing: border-box;
  .name {
    color: white;
    font-weight: 300;
    position: fixed;
    bottom: 120px;
    padding-left: 20px;
    z-index: 10;
  }

  .surname {
    color: white;
    font-weight: 500;
    position: fixed;
    bottom: 80px;
    padding-left: 20px;
    z-index: 10;
  }

  .profession {
    color: #b07cff;
    font-weight: 300;
    position: fixed;
    bottom: 60px;
    padding-left: 20px;
    z-index: 10;
  }
}

.aboutMe {
  width: 45%;
  padding-right: 30px;

  .title {
    color: white;
    font-size: 60px;
  }

  .info {
    color: #b07cff;
  }

  .parAboutMe {
    font-size: 16px;
    color: gray;
  }

  .bottom {
    .hr {
      background: gray;
      border: 0.10px solid gray;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .skills {
      color: white;
    }
  }
}

@media (max-width: "880px") {
  .title {
    font-size: 50px !important;
  }
}

@media (max-width: "750px") {
  .title {
    font-size: 40px !important;
  }
}

@media (max-width: "620px") {
  .title {
    font-size: 35px !important;
  }
}

@media (orientation: portrait) {
  .name {
    color: white;
    font-weight: 300;
    width:auto;
    margin-top: 0;
    text-align: end;
    padding-right: 5px;
   
  }

  .surname {
    color: white;
    font-weight: 500;
    width: auto;
    margin-top: 0;
  }

  // .profession {
  //   color: #b07cff;
  //   font-weight: 300;
  //   width: 90%;
  //   margin-top: 0;
  // }

  .photo {
    width: 60%;
    min-width: 210px;
  }

  .aboutMe {
    width: 90%;
    padding-right: 0;
  }
}