.title{
  color: white;
  width: 100%;
  text-align: center;
}
.contacts {
  display: inline-grid;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  width: 100%;
  
  .label{
    color: #b07cff;
  }
  .phone {
    width: auto;
  }

  .email {
    width: auto;
  }

  .linkedin {
    width: auto;
  }

  .github {
    width: auto;
  }
  a{margin-bottom: 50px;}
}

@media (max-width: "880px") {
  .contacts {
    width: 100%;
    text-align: center;
  }
    .label{
      width: 100%;
      display: block;
    }
}
@media (max-width: "300px") {
  .title{
    font-size: 28px;
  }
  .contacts {
    font-size: 12px;
  }
    
}